body {
	background-color: #1A1A1D;
	color: white;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

h1 {
	color: #C3073F;
}

a {
	color: #C3073F;
	text-decoration: none;
}

a:hover {
	color: #950740;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.column {
	padding: 50px;
}

#interface {
}

#search {
}

#relationship {
}