<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SongFinder</title>

    <LINK REL=StyleSheet HREF="../static/main.css" TYPE="text/css" MEDIA=screen>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
    <script type="text/javascript" src="../static/main.js"></script>
  </head>

  <body>
  	<div class="row">
  		<div class="column">
  			{% block left %}
			    <h1> Find songs by artist </h1>
			    <p> Using musicbrainz API. </p>

			    <form action="{{ url_for('result', artistName = '') }}" method="POST" name="searchForm">
			    	{% block form %}
			    		<div id="search">
					    	Artist Name:
					    	<input type="text" id="artist" name="artist" value="{{ request.form.artist }}">
					    	<br>
					    	Get Albums Songs appear in?
					    	<input type="checkbox" id="getAlbum" name="getAlbum">
					    	<br>
					    	<input type="submit" id="submit" name="submit" value="search" onclick="
						    	this.form.action = this.form.action + document.getElementById('artist').value;
						    	console.log(this.form.action);
						    	console.log(document.getElementById('artist').value);
					    	">
					    </div>
			    	{% endblock %}
			    </form>

			    <div id="charts">
			    	<table border="1">
			    		<tbody>
			    			{% for entry in charts %}
			    				<tr>
			    					<td>{{ entry.get('trackName') }}</td>
			    					<td>{{ entry.get('artist') }}</a></td>
			    				</tr>
			    			{% endfor %}
			    		</tbody>
			    	</table>
			    </div>
			{% endblock %}
		</div>

		<div class="column">
		    {% block content %}
		    	<p>{{ res }}</p>
		    {% endblock %}
	    </div>
	</div>
  </body>
</html>