<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SongFinder</title>

    <LINK REL=StyleSheet HREF="../static/main.css" TYPE="text/css" MEDIA=screen>
  </head>

  <body>
  	<div class="row">
  		<div class="column">
  			{% block left %}
			    <h1> Find songs by artist </h1>
			    <p> Using musicbrainz API. </p>

			    <form action="{{ url_for('result') }}" method="POST">
			    	{% block form %}
			    		<div id="search">
					    	Artist Name:
					    	<input type="text" name="artist" value="{{ request.form.artist }}">
					    	<br>
					    	Get Albums Songs appear in?
					    	<input type="checkbox" name="getAlbum">
					    	<br>
					    	<input type="submit" name="submit" value = "search">
					    </div>
			    	{% endblock %}
			    </form>

			    <div id="charts">
			    	<table border="1">
			    		<tbody>
			    			{% for entry in charts %}
			    				<tr>
			    					<td>{{ entry.get('trackName') }}</td>
			    					<td><a href="/">{{ entry.get('artist') }}</a></td>
			    				</tr>
			    			{% endfor %}
			    		</tbody>
			    	</table>
			    </div>
			{% endblock %}
		</div>

		<div class="column">
		    {% block content %}
		    	<p>{{ res }}</p>
		    {% endblock %}
	    </div>
	</div>
  </body>
</html>