<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SongFinder</title>
  </head>

  <body>
    <h1> Find songs by artist </h1>
    <p> Using musicbrainz API. </p>

    <form action="{{ url_for('result') }}" method="POST">
    	Artist Name:
    	<input type="text" name="artist" value="{{ request.form.artist }}">
    	<br>
    	Get Albums Songs appear in?
    	<input type="checkbox" name="getAlbum" checked="{{ request.form.getAlbum }}">
    	<br>
    	<input type="submit" name="search">
    </form>

    {% block content %}
    	<p>{{ res }}</p>
    {% endblock %}
  </body>
</html>